
{% load static %}

{% block content %}
<nav class="navbar navbar-collapse-md navbar-expand-xl my-nav sticky-top " >
  <a class="navbar-brand font-weight-bold text-uppercase nav-font" href="{% url 'home' %}">Beautiful Dhulikhel</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars text-white"></i> </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav  ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'post-list' %}"><i class="fas fa-clock mr-2"></i>Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'destinations' %}"><i class="fas fa-map-marked mr-2 "></i>Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-star-of-david  mr-2 "></i>Culture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'gallery' %}"><i class="fas fa-image mr-2 "></i>Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hotels' %}"><i class="fas fa-hotel mr-2 "></i>Hotels</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'about'%}"><i class="fas fa-info mr-2 "></i>About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'contact'  %}"><i class="fas fa-mail-bulk mr-2 "></i>Contact Us</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle bg-info text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-check mr-2 "></i>{{ user | capfirst }}
        </a>
        <div class="dropdown-menu my-dropdown " aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fas fa-columns mr-2 "></i>Dashboard</a>
          <a class="dropdown-item" href="{% url 'profile'%}"><i class="fas fa-pen mr-2 "></i>Profile</a>
          <a class="dropdown-item" href="{% url 'post-create' %}"><i class="fas fa-edit mr-2 "></i>Add Post</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-2 "></i>Logout</a>

        </div>
      </li>
      {% endif %}
      <li class="nav-item dropdown d-none">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu my-dropdown " aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}