
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="icon" href="https://ipo.bizpati.com/images/logo.webp" sizes="16x16" type="image/png">
<title>Ipo Results - Bizpati</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=gj7NrRr9mRFm8BOymY8dxZsur7007IxNeoZyXxu9p6k5Fv1exXm9pYTRhoUhfN2-" charset="UTF-8"></script></head>
<body>
<header>
<div class="d-flex flex-row justify-content-center">
<a href="https://www.bizpati.com"><img src="https://ipo.bizpati.com/images/logo.webp" alt="Bizpati Logo"></a>
</div>
<h1 class="text-center">IPO Results</h1>
</header> <div class="container">
<form action="https://ipo.bizpati.com" method="POST">
<input type="hidden" name="_token" value="HQGg5Vsp1fgH3bPmMxIIRgkd63GUMKOXT78Wm42E"> <div class="form-group">
<label for="issuer">Select Issuer</label>
<select class="form-control" id="issuer" aria-describedby="issuer" name="companyId">
<option value="3">Chandragiri Hills Limited (public)</option>
</select>
</div>
<div class="form-group">
<label for="boidNumber">BOID Number</label>
<input type="text" class="form-control" id="boidNumber" name="boidNumber" required>
</div>
<div class="alert alert-success alert-dismissible">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<h5><i class="icon fas fa-times"></i>Congratulations!</h5>
Congratulations! You have been alloted 10 kitta
</div>
<div class="text-center">
<button type="submit btn-large" class="btn btn-primary">Submit</button>
</div>
</form>
</div>

<script src="https://ipo.bizpati.com/vendor/jquery/jquery.min.js" type="6289949fac002cd20c954244-text/javascript"></script>

<script src="https://ipo.bizpati.com/vendor/bootstrap/js/bootstrap.bundle.min.js" type="6289949fac002cd20c954244-text/javascript"></script>
<script src="https://ipo.bizpati.com/js/app.js" type="6289949fac002cd20c954244-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="6289949fac002cd20c954244-|49" defer=""></script></body>
</html>