{%  extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-2">
        <div class="col-md-4 mx-auto">
           <form action="" method="post" novalidate class=" p-5">
          <div class="mb-3 ">
              {% for fm in form %}
                  <div class="form-group mb-3">
                      {{ fm.label_tag }} {{ fm }}
                      <small class="text-danger">{{ fm.errors|striptags }}</small>
                  </div>
              {% endfor %}
              {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                      <p class="alert alert-danger my-3">{{ error }}</p>
                  {% endfor %}
              {% endif %}
              <input type="submit" class="btn btn-primary" value="Reset Password"></br>

              {% csrf_token %}
      </form>
        </div>
    </div>
</div>

</div>
{% endblock %}
