body
{
  background-color: #f1f1f1;
    font-family:Roboto, sans-serif;
}

.my-nav{
        background-image: linear-gradient(to right, cornflowerblue, midnightblue);
        margin-right: 15px;
        margin-left: 15px;
     box-shadow: ;



}

.navbar-collapse li{
    margin-right: 5px;

}
.my-nav a
{
    color: white;

}
.my-nav a:hover
{
   background-color: whitesmoke;
    color:black;
    transition: all .5s ease-in-out;
    animation: ease-in;
    border-radius: 25%;



}
.nav-font{
    font-family: 'Rancho', cursive;
    font-style: italic;
    font-size: x-large;
}
.my-dropdown a
{
    color: black;
}

.my-dropdown a:hover
{
   background-color: whitesmoke;
     transition-delay: 20ms;
     color: black;
}

.img-postlist
{
    height: 15vh;
    object-fit: cover;
}

