body
{
  background-color: #f1f1f1;
    font-family:Roboto, sans-serif;
}

.my-nav{
        background-image: linear-gradient(to right, cornflowerblue, midnightblue);
        margin-right: 15px;
        margin-left: 15px;




}

.navbar-collapse li{
    margin-right: 5px;

}
.my-nav a
{
    color: white;

}
.my-nav a:hover
{
   background-color: whitesmoke;
    color:black;
    transition: all .5s ease-in-out;
    animation: ease-in;
    border-radius: 25%;



}
.nav-font{
    font-family: 'Rancho', cursive;
    font-style: italic;
    font-size: x-large;
}
.my-dropdown a
{
    color: black;
}

.my-dropdown a:hover
{
   background-color: whitesmoke;
     transition-delay: 20ms;
     color: black;
}

.img-postlist
{
    height: 15vh;
    object-fit: cover;
}

.bg-info h1:hover
{
    background-color:yellow;
    color: blue;
    box-shadow: black 2px solid;
}
.myflex
{
    flex:1;


}
.bg-hotels
{
     background-color: lawngreen;
}
.border-hotel
{
    border-left: blue 4px solid;

}
.hotelcard:hover
{
    border: midnightblue 1px solid ;
}


 h3#myhhr {
  overflow: hidden;
  text-align: center;
}

h3:before#myhhr ,
 h3:after#myhhr {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

 h3:before#myhhr {
  right: 0.5em;
  margin-left: -50%;
}

 h3:after#myhhr {
  left: 0.5em;
  margin-right: -50%;
}

 .bg-mybg
 {
     background-image: linear-gradient(to right, cornflowerblue, midnightblue);
 }
 .mybackground
 {

 }

 .myimage
 {
     height:200px;
     width: 200px;
     object-fit: cover;
     overflow: hidden;
 }